:root {
  --bg-color: #c084fc;
  --text-color: #1f2937;
}

/* -- Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* -- Styles de base */

body {
  font-family: Arial, sans-serif;
}

p {
  padding: 1rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  border-radius: 5px;
}

/* Exercice 00 */

.paragraphe1 {
  /* Utilisez des variables CSS */
  color: #1f2937;
  background-color: #c084fc;
}

.paragraphe2 {
  /* Utilisez des variables CSS */
  color: #1f2937;
  background-color: #c084fc;
}
